* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: rgb(249, 249, 252);
}

.container {
    display: flex;
}

.image-section {
    background-image:  linear-gradient(to bottom, rgba(116, 216, 255, 0.42), rgba(39, 77, 119, 0.63)), url(images/Xenoblade_Chronicles-qge.jpg);
    flex-basis: 40%;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-section p {
    font-size: 13rem;
    font-family: 'Rubik 80s Fade', cursive;
    text-align: center;
    margin-top: 35vh;
    color: #fff;
    
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-basis: 60%;
    
}

h2 {
    color: #335;
    font-size: 6.4rem;
    font-weight: 700;
    text-align: left;
    align-self: flex-start;
    margin-left: 2rem;
}

li {
    display: inline-block;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

form {
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    box-shadow: 0 4px 5px #eee;
    margin-top: 1.6rem;
}

button {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem;
    background-color: #579;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s;
}

button:hover {
    background-color: #468;
    box-shadow: 0 4px 5px #ccc;
}

input {
    font-weight: 300;
    font-size: 2rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 2px solid #abc;
    width: 26rem;
    padding: 0.4rem;
    transition: all 0.2s;
}

input:focus {
    border: 2px solid #567;
    box-shadow: 0 4px 5px #eee;
}

input, label {
    display: flex;
}

label { 
    color: #444;
    margin-bottom: 2px;
    margin-left: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  rgb(249, 249, 252) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #445;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: #445;
}

.log-in {
    text-align: left;
    margin-top: 1rem;
    align-self: flex-start;
    margin-left: 2rem;
}